.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 25px;
	width: 12rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 0.875rem;
	color: #ccc;
}

.link {
	color: #ccc;
}

@media only screen and (max-width: 768px) {
	.footer {
		/* display: none; */
		top: -7rem;
		width: 100%;
		position: relative;
	}
}
