.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 16.1625rem;
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: right;
  font-size: 0.875rem;
  box-sizing: border-box;
  padding: 48px;
}

.link {
  color: #ccc;
}

@media only screen and (max-width: 768px) {
  .footer {
    /* display: none; */
    top: -7rem;
    width: 100%;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
  }
}
