.outer {
	margin: 6.25rem 9.875rem 6.25rem 16.125rem;
	max-width: 960px;
	padding: 0px 1.0875rem 0 0;
}

.box {
	position: relative;
	padding: 1.25rem 0.625rem;
}

.box::after {
	content: 'Wubba lubba dub dun';
	position: absolute;
	bottom: -80px;
	left: 0;
	right: 0;
	margin: 0 auto;
	font-size: 12px;
	text-align: center;
	width: 240px;
	color: #ccc;
}

.post h1 {
	margin: 2.1rem 0;
}

.post h2 {
	margin: 1.8rem 0;
}

.post h3 {
	margin: 1.6rem 0;
}

.post h4 {
	margin: 1.2rem 0;
}

.post h5 {
	margin: 1rem 0;
}

.post h6 {
	margin: 0.5rem 0;
}

@media only screen and (max-width: 768px) {
	.outer {
		margin: 6.25rem 1.25rem 4.25rem 1.25rem;
		padding: 0.875rem;
	}
}
